.section-header {
  grid-column: 1 / span 2;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  color: var(--brand-text);
}

.divider {
  grid-column: 1 / span 2;
  border: none;
  border-top: 1px solid var(--brand-border);
  margin-bottom: 1rem;
}

.editjob-buttons,
.addjob-buttons {
  grid-column: 1 / span 2;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
